# Copyright (c) 2024 Renesas Electronics Corporation
# SPDX-License-Identifier: Apache-2.0

#if SOC_SERIES_SKYP_V1
if SOC_SKYP_M85

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 25000000

config NUM_IRQS
	default 128

endif # SOC_SERIES_SKYP_V1

if SOC_SKYP_TXE

config SYS_CLOCK_HW_CYCLES_PER_SEC
        default 200000000

config SYS_CLOCK_TICKS_PER_SEC
        default 50000

config XTENSA_TIMER
        default y

config KERNEL_ENTRY
        default "__start"

config PRIVILEGED_STACK_SIZE
	default 2048
endif
